:root {
    --backgroundColor: #fff;
    --color: #212529;
    /* --headerBackgroundColor:; */
    --borderColor: rgba(0, 0, 0, 0.125);
    --linkColor: #0f6fc5;
    --radius: 6px;
    --readmoreBtnColor: #191c1f;
}

:root.dark {
    --backgroundColor: #0d1117;
    --color: #c9d1d9;
    --headerBackgroundColor: #161b22;
    --borderColor: #30363d;
    --linkColor: #58a6ff;
    --radius: 6px;
    --readmoreBtnColor: #d7e0e9;
}

/* re-laout.jsが動作するまでの瞬間でちらつくのを防止するため */
mr-auto .logo img {
    display: none !important;
}
p a > img {
    display: none !important;
}

/* 全体の背景 */
body {
    background-color: var(--backgroundColor) !important;
    color: var(--color) !important;
}

/* リンクの色を見やすい水色に */
header#page-header a,
div#page-content a {
    color: var(--linkColor) !important;
}

/* navbar */
.dark div#page-wrapper nav.navbar {
    background-color: var(--headerBackgroundColor) !important;
    color: var(--color) !important;
    border-bottom-color: var(--borderColor);
    box-shadow: 0 5px 2px rgb(17, 17, 17);
}

.dark nav.navbar button.btn {
    background-color: var(--headerBackgroundColor) !important;
    border-color: var(--borderColor) !important;
    border-radius: var(--radius) !important;
    color: var(--color) !important;
    transition: 0s;
}

/* re-layout.jsのoptimizeResponsive()で生じるズレをここで調整 */
@media screen and (min-width: 768px) {
    #region-main-box {
        padding-left: 15px !important;
    }
}

/* 左側のコンテンツ +++++++++++++++++++++++++++++++++++ */
#region-main {
    /* background-color: var(--headerBackgroundColor) !important; */
    background-color: var(--backgroundColor) !important;
    border-color: var(--borderColor) !important;
    border-radius: var(--radius);
    transition: 0.5s ease;
}

/* .odd はグレーに */
section .odd {
    background-color: var(--backgroundColor);
    background-color: var(--headerBackgroundColor);
    transition: 0.4s;
}

/* コースの検索爛とボタンの色 */
#shortsearchbox,
#coursesearchbox,
form#coursesearch button.btn,
.dark input.form-control,
.dark .btn-secondary {
    background-color: var(--headerBackgroundColor);
    border-color: var(--borderColor);
    border-radius: var(--radius);
    color: var(--color);
}

/* コースサマリーの省略 +++++++++++++++++++++++++++++++++++++ */
.summary p {
    line-height: 1.5;
}
/* 短縮する<p> */
p.partial-text {
    overflow: hidden !important;
    color: transparent;
    background: linear-gradient(180deg, var(--color) 0, transparent 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
}
/*  全行表示 */
p.is-open {
    height: 100% !important;
}
.more-button {
    color: var(--readmoreBtnColor);
    line-height: 16px;
    font-size: 14px;
    /* font-weight: 550; */
    text-align: center;

    width: 130px;
    padding: 15px 30px;

    margin-left: auto;
    transform: translateY(-1.5rem);
}

/* お知らせコーナー */
.dark .sitetopic .moodle_news {
    background-color: var(--headerBackgroundColor) !important;
}
/* 履修登録について */
.dark #region-main ul.section li {
    background-color: var(--headerBackgroundColor);
    border-radius: var(--radius);
}
/* 写真の角を丸く */
p img {
    border-radius: var(--radius);
}
.dark p img,
.dark .logo > img {
    border-radius: var(--radius);
    /* ダークテーマに適した色味に変更 */
    filter: brightness(0.8) contrast(1.2);
}

/* navRight */ /* logo */
#block-region-side-pre .card {
    background-color: var(--backgroundColor);
    /* background-color: var(--headerBackgroundColor); */
    border-color: var(--borderColor);
    border-radius: var(--radius);
    transition: 0.3s;
}

/* コースのページ ++++++++++++++++++++++++++++++++++++++++++++++++++ */
#page-header .card {
    background-color: var(--headerBackgroundColor);
    border-color: var(--borderColor);
    border-radius: var(--radius);
}
.dark #region-main div.content ul.section li {
    background-color: var(--backgroundColor);
    border-radius: var(--radius);
}

.dark .course-content ul li.section.main {
    /* border-bottom-color: var(--borderColor); */
    border-color: var(--borderColor);
}

/* 提出状況の表 */
table.generaltable,
.table {
    color: var(--color);
    border-color: var(--borderColor);
}
.generaltable tbody tr:nth-child(odd) {
    background-color: var(--backgroundColor) !important;
}
.dark .generaltable tbody tr:hover {
    color: #fff !important;
}
.path-mod-assign td.submissionnotgraded,
.path-mod-assign div.submissionnotgraded {
    color: var(--color) !important;
    background-color: var(--backgroundColor) !important;
}

/* ファイルのアップロード */
.filemanager .card {
    background-color: var(--headerBackgroundColor);
    border-color: var(--borderColor);
    border-radius: var(--radius);
    color: var(--color);
}
.filemanager .btn-secondary {
    background-color: var(--backgroundColor) !important;
    border-color: var(--borderColor) !important;
}

/* 提出に関する日付 */
.dark b {
    color: #fff;
}

/* ダッシュボードのページ */
.dark #region-main section.card {
    background-color: var(--backgroundColor) !important;
    border-color: var(--borderColor);
    border-radius: var(--radius);
}
.dark #region-main section.card .card {
    background-color: var(--headerBackgroundColor) !important;
    border-color: var(--borderColor);
}
.dark #region-main section.card .card .card-footer {
    background-color: var(--headerBackgroundColor) !important;
    border-color: var(--borderColor);
}
