:root {
    --backgroundColor: #fff;
    --color: #212529;
    /* --headerBackgroundColor:; */
    --borderColor: rgba(0, 0, 0, 0.125);
    --linkColor: #0f6fc5;
    --radius: 6px;
    --readmoreBtnColor: #191c1f;
}

:root.dark {
    --backgroundColor: #0d1117;
    --color: #c9d1d9;
    --headerBackgroundColor: #161b22;
    --borderColor: #30363d;
    --linkColor: #58a6ff;
    --radius: 6px;
    --readmoreBtnColor: #d7e0e9;
}

/* re-laout.jsが動作するまでの瞬間でちらつくのを防止するため */
mr-auto .logo img {
    display: none !important;
}
p a > img {
    display: none !important;
}

/* 全体の背景 */
body {
    background-color: var(--backgroundColor) !important;
    color: var(--color) !important;
}

/* リンクの色を見やすい水色に */
header#page-header a,
div#page-content a {
    color: var(--linkColor);
}
/* バグ修正 */
#page-content a.btn-primary {
    color: #fff;
}

/* navbar */
.dark div#page-wrapper nav.navbar {
    background-color: var(--headerBackgroundColor) !important;
    color: var(--color) !important;
    border-bottom-color: var(--borderColor);
    box-shadow: 0 5px 2px rgb(17, 17, 17);
}

.dark nav.navbar button.btn {
    background-color: var(--headerBackgroundColor) !important;
    border-color: var(--borderColor) !important;
    border-radius: var(--radius) !important;
    color: var(--color) !important;
    transition: 0s;
}

/* バグ修正　スマホサイズの時に非表示コースリスト，編集ボタンの上部が隠れるので */
/* 元々ロゴがあったdivを小さくする */
header#page-header > div.col-12.pt-3.pb-3 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.8rem !important;
}
#frontpage-course-list,
#display-off-course-list {
    margin-top: 0.5rem;
}

/* re-layout.jsのoptimizeResponsive()で生じるズレをここで調整 */
@media screen and (min-width: 768px) {
    #region-main-box {
        padding-left: 15px !important;
    }
}

/* 左側のコンテンツ ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#region-main {
    /* background-color: var(--headerBackgroundColor) !important; */
    background-color: var(--backgroundColor) !important;
    border-color: var(--borderColor) !important;
    border-radius: var(--radius);
    border-width: 1px;
    border-style: solid;
    padding: 1.25rem;
    transition: 0.5s ease;
}

/* 2024年版から.courseboxにボーダーが追加されてるから、色をマッチさせる */
.coursebox {
    border: 1px solid var(--borderColor) !important;
}

/* .odd はグレーに */
section .odd {
    background-color: var(--backgroundColor);
    background-color: var(--headerBackgroundColor);
    transition: 0.4s;
}

/* 編集時にコースをゆらす */
.coursebox[draggable='true']:nth-child(3n) {
    animation: tremble1 1.1s infinite;
}
@keyframes tremble1 {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg);
    }
    25% {
        transform: translate(2px, 2px) rotateZ(0.7deg);
    }
    50% {
        transform: translate(0px, 2px) rotateZ(0deg);
    }
    75% {
        transform: translate(2px, 2px) rotateZ(-0.7deg);
    }
    100% {
        transform: translate(0px, 0px) rotateZ(0deg);
    }
}
.coursebox[draggable='true']:nth-child(3n + 1) {
    animation: tremble2 0.9s infinite;
}
@keyframes tremble2 {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg);
    }
    25% {
        transform: translate(2px, 2px) rotateZ(-0.5deg);
    }
    50% {
        transform: translate(2px, 0px) rotateZ(0deg);
    }
    75% {
        transform: translate(0px, 2px) rotateZ(0.5deg);
    }
    100% {
        transform: translate(0px, 0px) rotateZ(0deg);
    }
}
.coursebox[draggable='true']:nth-child(3n + 2) {
    animation: tremble3 0.8s infinite;
}
@keyframes tremble3 {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg);
    }
    25% {
        transform: translate(2px, 2px) rotateZ(0.6deg);
    }
    50% {
        transform: translate(2px, 0px) rotateZ(0deg);
    }
    75% {
        transform: translate(2px, 0px) rotateZ(-0.5deg);
    }
    100% {
        transform: translate(0px, 0px) rotateZ(0deg);
    }
}

/* コースの検索爛とボタンの色 */
#shortsearchbox,
#coursesearchbox,
form#coursesearch button.btn,
.dark input.form-control,
.dark .btn-secondary {
    background-color: var(--headerBackgroundColor);
    border-color: var(--borderColor);
    border-radius: var(--radius);
    color: var(--color);
}

/* コースサマリーの省略 +++++++++++++++++++++++++++++++++++++ */
.summary p {
    line-height: 1.5;
}
/* 短縮する<p> */
p.partial-text {
    overflow: hidden !important;
    color: transparent;
    background: linear-gradient(180deg, var(--color) 0, transparent 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
}
/*  全行表示 */
p.is-open {
    height: 100% !important;
}
.more-button {
    color: var(--readmoreBtnColor);
    line-height: 16px;
    font-size: 14px;
    /* font-weight: 550; */
    text-align: center;

    width: 130px;
    padding: 15px 30px;

    margin-left: auto;
    transform: translateY(-1.5rem);
}

/* お知らせコーナー */
.dark .sitetopic .moodle_news {
    background-color: var(--headerBackgroundColor) !important;
}
/* 履修登録について */
.dark #region-main ul.section li {
    background-color: var(--headerBackgroundColor);
    border-radius: var(--radius);
}
/* 写真の角を丸く */
p img {
    border-radius: var(--radius);
}
/* 画像をダークテーマに適した色味に変更 */
.dark img {
    filter: brightness(0.75) contrast(1.2);
}

/* navRight（トップページの右側。ダッシュボードへのリンクやリンクがあるセクション） , 右側に移動した大学のlogo ++++++++++++++++++++++++++++++++*/
/*
~2023年まで #block-region-side-pre
2024年から #block-region-side-post
*/
#block-region-side-pre .card,
#block-region-side-post .card {
    background-color: var(--backgroundColor);
    /* background-color: var(--headerBackgroundColor); */
    border-color: var(--borderColor);
    border-radius: var(--radius);
    transition: 0.3s;
}
/* navRightの大学ロゴとダッシュボード
ボタンの縦を縮小する */
#block-region-side-post :nth-child(1) > .card-body,
#block-region-side-post :nth-child(2) > .card-body {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
/* navRightを固定幅に */
#page-content :nth-child(3).blockcolumn {
    width: 300px !important;
    padding-left: 1rem;
    padding-right: 1rem;
}
#page-content :nth-child(1)#region-main-box {
    flex: 1 !important;
}

/* コースのページ ++++++++++++++++++++++++++++++++++++++++++++++++++ */
#page-header .card {
    background-color: var(--headerBackgroundColor);
    border-color: var(--borderColor);
    border-radius: var(--radius);
}
.dark #region-main div.content ul.section li {
    background-color: var(--backgroundColor);
    border-radius: var(--radius);
}

/* バグ修正 水色の背景の部分*/
#region-main .course-content .current ul.section li.activity {
    background-color: #e4f1f4;
}
/* バグ修正 水色の背景の部分*/
.course-content .current {
    color: #212529;
}
/* バグ修正 水色の背景の部分*/
/* .dark #region-main div.content ul.section liが.darkつけてるからこれも.dark付けた */
.dark #page-course-view-topics .course-content .current ul.section li {
    background-color: inherit;
}
/* バグ修正 水色の背景の部分*/
.course-content .current table {
    color: black;
}

.dark .course-content ul li.section.main {
    /* border-bottom-color: var(--borderColor); */
    border-color: var(--borderColor);
}

/* 2024年以降に追加されたボーダーの色を調整 */
.activity-item {
    border: 1px solid var(--borderColor) !important;
}
/* 2024年以降 */
.description .course-description-item {
    background-color: var(--backgroundColor) !important;
}

/* 提出状況の表 */
table.generaltable,
.table {
    color: var(--color);
    border-color: var(--borderColor);
}
.generaltable tbody tr:nth-child(odd) {
    background-color: var(--backgroundColor) !important;
}
.dark .generaltable tbody tr:hover {
    color: #fff !important;
}
.path-mod-assign td.submissionnotgraded,
.path-mod-assign div.submissionnotgraded {
    color: var(--color) !important;
    background-color: var(--backgroundColor) !important;
}

/* ファイルのアップロード */
.filemanager .card {
    background-color: var(--headerBackgroundColor);
    border-color: var(--borderColor);
    border-radius: var(--radius);
    color: var(--color);
}
.filemanager .btn-secondary {
    background-color: var(--backgroundColor) !important;
    border-color: var(--borderColor) !important;
}

/* バグ修正 　予定表　*/
tr[bgcolor='#dddddd'] th {
    color: #212529;
}

/* 提出に関する日付 */
.dark b {
    color: #fff;
}

/* オンラインエディタ */
.dark .editor_atto_toolbar {
    background-color: var(--headerBackgroundColor);
    border: 1px solid var(--borderColor);
}
.dark .editor_atto .editor_atto_toolbar .atto_group {
    background-color: var(--borderColor);
    border: 1px solid var(--borderColor);
}
.dark .editor_atto_toolbar button + button {
    border-left: 1px solid var(--borderColor);
}
.dark .editor_atto_toolbar button,
.dark .editor_atto_toolbar i {
    background-color: var(--backgroundColor);
    color: var(--color);
}
.dark .editor_atto_content_wrap {
    background-color: #010409;
    color: var(--color);
}

select.select,
select.custom-select {
    background-color: var(--headerBackgroundColor);
    border-color: var(--borderColor);
    /* border-radius: var(--radius); */
    color: var(--color);
}

/* オンラインエディタの文字数カウンタ */
.word-count {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: #000;
}
.dark .word-count {
    color: var(--color);
}

/* バグ修正 表 ダークモード限定*/
.dark table {
    color: var(--color);
}

/* バグ修正 ダークモード限定 */
/* 注記 */
.dark span[style='background-color: #ffff00; font-size: small;'],
.dark span[style='background-color: #ffff00; font-size: large;'] {
    color: var(--headerBackgroundColor);
}

/* バグ修正 ダークモード限定 */
/* ファイルの詳細（容量，アップロード日） */
.dark .resourcelinkdetails {
    color: #999;
}

/* バグ修正　アンケート　ダークモード限定 */
/* アンケート番号 */
/* アンケート文 */
.dark .mod_questionnaire_completepage .qn-info .qn-number,
.dark .mod_questionnaire_reportpage .qn-info .qn-number,
.dark .mod_questionnaire_completepage .qn-content {
    color: var(--backgroundColor);
}
/* アンケート文 */
.dark .qn-content .qn-question {
    background-color: #13233a;
    color: var(--color);
    border: 2px solid #183256;
}

/* ダッシュボードのページ ++++++++++++++++++++++++++++++++++ */
.dark #region-main section.card {
    background-color: var(--backgroundColor) !important;
    border-color: var(--borderColor);
    border-radius: var(--radius);
}
.dark #region-main section.card .card {
    background-color: var(--headerBackgroundColor) !important;
    border-color: var(--borderColor);
}
.dark #region-main section.card .card .card-footer {
    background-color: var(--headerBackgroundColor) !important;
    border-color: var(--borderColor);
}

/* ハンバーガーメニューで出てくるリスト */
#nav-drawer {
    background-color: var(--headerBackgroundColor);
}
/* コース概要 */
.list-group .list-group-item,
.block .block-cards .paged-content-page-container .course-summaryitem {
    background-color: var(--backgroundColor);
    border-color: var(--borderColor);
}
#nav-drawer .list-group .list-group-item:hover {
    color: var(--color);
    background-color: #30363d;
}
.dark .progress.bg-white {
    background-color: #30363b !important;
    border-color: #30363b !important;
}
