:root {
    --backgroundColor: #fff;
    --color: #212529;
    /* --headerBackgroundColor:; */
    --borderColor: rgba(0, 0, 0, 0.125);
    --linkColor: #0f6fc5;
    --radius: 6px;
    --hoverColor: rgb(218, 218, 218);
}

:root.dark {
    --backgroundColor: #0d1117;
    --color: #c9d1d9;
    --headerBackgroundColor: #161b22;
    --borderColor: #30363d;
    --linkColor: #58a6ff;
    --radius: 6px;
    --hoverColor: #7e8388;
}

.coursebox {
    padding: 2rem;
}

.display-off {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* top: 16px; */
    left: 10px;

    /* btn design */
    border-width: 0;
    border-radius: 20px;
    background: #ff1919;
    color: white;
    font-weight: bold;
}
#display-off-course-list .display-off {
    background: #2cbd16;
}

.display-off.edit-mode {
    display: inline-block;
    animation: appear 0.8s ease;
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.coursebox > div.info {
    display: inline-block;
}

.coursebox > .info.edit-mode,
.coursebox > .content > .teachers.edit-mode {
    animation: slide 0.4s ease-out forwards;
    /* forwardsはアニメーション完了時にその場にとどまる */
}
@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(65px);
    }
}

#frontpage-course-list,
#display-off-course-list {
    position: relative;
}
.btns-wrapper {
    position: absolute;
    top: -5px;
    right: -10px;
}
.btns-wrapper .course-list-toggle-btn,
.btns-wrapper .edit-btn {
    color: var(--color);
    border-color: var(--borderColor);
    border-radius: var(--radius);
    background-color: var(--headerBackgroundColor);
    margin-right: 0.5rem;
}

.course-list-toggle-btn:hover,
.edit-btn:hover {
    background-color: var(--hoverColor);
}

.dark .course-list-toggle-btn:hover,
.dark .edit-btn:hover {
    background-color: var(--backgroundColor);
    color: var(--hoverColor);
}
