:root {
  --backgroundColor: #fff;
  --color: #212529;
  /* --headerBackgroundColor:; */
  --borderColor: rgba(0, 0, 0, 0.125);
  --linkColor: #0f6fc5;
  --radius: 6px;
}

:root.dark {
  --backgroundColor: #0d1117;
  --color: #c9d1d9;
  --headerBackgroundColor: #161b22;
  --borderColor: #30363d;
  --linkColor: #58a6ff;
  --radius: 6px;
}
/* 全体の背景 */
body {
  background-color: var(--backgroundColor) !important;
  color: var(--color) !important;
  transition: 0.3s ease-in-out;
}

/* リンクの色を見やすい水色に */
header#page-header a,
div#page-content a {
  color: var(--linkColor) !important;
}

/* navbar */
.dark div#page-wrapper nav.navbar {
  background-color: var(--headerBackgroundColor) !important;
  color: var(--color) !important;
  border-bottom-color: var(--borderColor);
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
  transition: 0.3s ease;
}

.dark nav.navbar button.btn {
  background-color: var(--backgroundColor) !important;
  border-color: var(--borderColor) !important;
  border-radius: var(--radius) !important;
  color: var(--color) !important;
}

/* 左側のコンテンツ */
#region-main {
  /* background-color: var(--headerBackgroundColor) !important; */
  background-color: var(--backgroundColor) !important;
  border-color: var(--borderColor) !important;
  border-radius: var(--radius);
  transition: 0.5s ease;
}

/* .odd はグレーに */
section .odd {
  background-color: var(--backgroundColor);
  background-color: var(--headerBackgroundColor);
  transition: 0.4s ease;
}

/* コースの検索爛とボタンの色 */
#shortsearchbox,
#coursesearchbox,
form#coursesearch button.btn,
.dark input.form-control,
.dark .btn-secondary {
  background-color: var(--headerBackgroundColor);
  border-color: var(--borderColor);
  border-radius: var(--radius);
  color: var(--color);
}

/* お知らせコーナー */
.dark .sitetopic .moodle_news {
  background-color: var(--headerBackgroundColor) !important;
}
.dark #region-main ul.section li {
  background-color: var(--headerBackgroundColor);
}
/* 写真の角を丸く */
p img {
  border-radius: var(--radius);
}
.dark p img {
  border-radius: var(--radius);
  /* ダークテーマに適した色味に変更 */
  filter: brightness(0.8) contrast(1.2);
}

/* navRight */ /* logo */
#block-region-side-pre .card {
  background-color: var(--backgroundColor);
  /* background-color: var(--headerBackgroundColor); */
  border-color: var(--borderColor);
  border-radius: var(--radius);
  transition: 0.3s ease;
}

/* コースのページ ++++++++++++++++++++++++++++++++++++++++++++++++++ */
#page-header .card {
  background-color: var(--headerBackgroundColor);
  border-color: var(--borderColor);
  border-radius: var(--radius);
}

.dark .course-content ul li.section.main {
  border-bottom-color: var(--borderColor);
}

/* 提出状況の表 */
table.generaltable,
.table {
  color: var(--color);
  border-color: var(--borderColor);
}
.generaltable tbody tr:nth-child(odd) {
  background-color: var(--backgroundColor) !important;
}
.dark .generaltable tbody tr:hover {
  color: #fff !important;
}
.path-mod-assign td.submissionnotgraded,
.path-mod-assign div.submissionnotgraded {
  color: var(--color) !important;
  background-color: var(--backgroundColor) !important;
}

/* ファイルのアップロード */
.filemanager .card {
  background-color: var(--headerBackgroundColor);
  border-color: var(--borderColor);
  border-radius: var(--radius);
  color: var(--color);
}
.filemanager .btn-secondary {
  background-color: var(--backgroundColor) !important;
  border-color: var(--borderColor) !important;
}

/* 提出に関する日付 */
.dark b {
  color: #fff;
}

/* ダッシュボードのページ */
.dark #region-main section.card {
  background-color: var(--backgroundColor) !important;
  border-color: var(--borderColor);
  border-radius: var(--radius);
}
.dark #region-main section.card .card {
  background-color: var(--headerBackgroundColor) !important;
  border-color: var(--borderColor);
}
.dark #region-main section.card .card .card-footer {
  background-color: var(--headerBackgroundColor) !important;
  border-color: var(--borderColor);
}
