:root {
  --backgroundColor: #fff;
  --color: #212529;
  /* --headerBackgroundColor:; */
  --borderColor: rgba(0, 0, 0, 0.125);
  --linkColor: #0f6fc5;
  --radius: 6px;
}

:root.dark {
  --backgroundColor: #0d1117;
  --color: #c9d1d9;
  --headerBackgroundColor: #161b22;
  --borderColor: #30363d;
  --linkColor: #58a6ff;
  --radius: 6px;
}

.dark body {
  background-color: var(--headerBackgroundColor);
}

.bg-warning,
.btn-warning {
  background-color: #e0a800 !important;
}

.dark .card-header {
  background-color: var(--headerBackgroundColor);
  color: var(--color);
}

.dark .card,
.dark .card-body {
  background-color: var(--backgroundColor);
  color: var(--color);
}
