.coursebox {
    position: relative;
    padding: 2rem;
}
.coursebox > .info {
    top: 16px;
}
.display-off {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* top: 16px; */
    left: 10px;
}

.display-off.edit-mode {
    display: inline-block;
    animation: appear 0.8s ease;
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.coursebox > div {
    display: inline-block;
}

.coursebox > .info.edit-mode {
    animation: slide 0.4s ease-out forwards;
    /* forwardsはアニメーション完了時にその場にとどまる */
}
@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(65px);
    }
}
