:root {
  --backgroundColor: #fff;
  --color: #000;
}

:root.dark {
  --backgroundColor: #000;
  --color: #fff;
}

div {
  font-weight: bold;
}

.color-theme-switch {
  background-color: var(--backgroundColor);
  color: var(--color);
  border-radius: 6px;
}
